body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f1110;
}

/*---PLAN 1---*/
#parallax {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*---PLAN 1---*/
  /*---PLAN 2---*/
  /*---PLAN 3---*/
  /*---PLAN 4---*/
  /*---PLAN 5---*/
  /*---PLAN 7---*/
  /*---PLAN 8---*/
}
#parallax .plan_1_img:nth-child(1), #parallax .plan_1_img:nth-child(2), #parallax .plan_1_img:nth-child(3),
#parallax .plan_1_img:nth-child(4), #parallax .plan_1_img:nth-child(5), #parallax .plan_1_img:nth-child(6),
#parallax .plan_1_img:nth-child(7), #parallax .plan_1_img:nth-child(8),
#parallax .plan_2_img:nth-child(1), #parallax .plan_2_img:nth-child(2), #parallax .plan_2_img:nth-child(3),
#parallax .plan_2_img:nth-child(4), #parallax .plan_2_img:nth-child(5), #parallax .plan_2_img:nth-child(6),
#parallax .plan_2_img:nth-child(7), #parallax .plan_2_img:nth-child(8), #parallax .plan_2_img:nth-child(9),
#parallax .plan_3_img:nth-child(1), #parallax .plan_3_img:nth-child(2),
#parallax .plan_4_img:nth-child(1), #parallax .plan_4_img:nth-child(2),
#parallax .plan_5_img:nth-child(1), #parallax .plan_5_img:nth-child(2),
#parallax .plan_6_img,
#parallax .plan_7_img,
#parallax .plan_8_img {
  position: absolute;
}
#parallax h1 {
  position: absolute;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0efe3;
  font-size: 8em;
  font-family: "Neucha", cursive;
  font-weight: bold;
  letter-spacing: 40px;
  text-transform: uppercase;
  text-shadow: #42413d 1px 0 10px;
}
#parallax .plan_1 {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100vh;
}
#parallax .plan_1 .plan_1_img:nth-child(1) {
  width: 18%;
  top: 0;
  left: 0;
}
#parallax .plan_1 .plan_1_img:nth-child(2) {
  width: 80%;
  top: 0;
  right: 0;
}
#parallax .plan_1 .plan_1_img:nth-child(3) {
  width: 20%;
  height: auto;
  top: 30%;
  left: 0;
}
#parallax .plan_1 .plan_1_img:nth-child(4) {
  width: 20%;
  height: auto;
  right: 0;
  bottom: 30%;
}
#parallax .plan_1 .plan_1_img:nth-child(5) {
  width: 20%;
  height: auto;
  left: 0;
  bottom: 0;
}
#parallax .plan_1 .plan_1_img:nth-child(6) {
  width: 30%;
  height: auto;
  left: 25%;
  bottom: 0;
}
#parallax .plan_1 .plan_1_img:nth-child(7) {
  width: 20%;
  height: auto;
  right: 0;
  bottom: 0;
}
#parallax .plan_1 .plan_1_img:nth-child(8) {
  width: 20%;
  height: auto;
  right: 25%;
  bottom: 0;
}
#parallax .plan_2 {
  position: absolute;
  z-index: 90;
  width: 100%;
  height: 100vh;
}
#parallax .plan_2 .plan_2_img:nth-child(1) {
  width: 20%;
  top: 0;
  left: 0;
}
#parallax .plan_2 .plan_2_img:nth-child(2) {
  width: 20%;
  top: 0;
  left: 20%;
}
#parallax .plan_2 .plan_2_img:nth-child(3) {
  width: 20%;
  height: auto;
  top: 0;
  left: 40%;
}
#parallax .plan_2 .plan_2_img:nth-child(4) {
  width: 20%;
  height: auto;
  top: 0;
  left: 70%;
}
#parallax .plan_2 .plan_2_img:nth-child(5) {
  width: 20%;
  height: auto;
  left: 0;
  bottom: 0;
}
#parallax .plan_2 .plan_2_img:nth-child(6) {
  width: 20%;
  height: auto;
  right: 0;
  top: 20%;
}
#parallax .plan_2 .plan_2_img:nth-child(7) {
  width: 35%;
  height: auto;
  left: 0;
  bottom: 0;
}
#parallax .plan_2 .plan_2_img:nth-child(8) {
  width: 20%;
  height: auto;
  left: 40%;
  bottom: 0;
}
#parallax .plan_2 .plan_2_img:nth-child(9) {
  width: 30%;
  height: auto;
  right: 0;
  bottom: 0;
}
#parallax .plan_3 {
  position: absolute;
  z-index: 80;
  width: 100%;
  height: 100vh;
}
#parallax .plan_3 .plan_3_img:nth-child(1) {
  width: 35%;
  height: auto;
  left: 0;
  bottom: 0;
}
#parallax .plan_3 .plan_3_img:nth-child(2) {
  width: 35%;
  height: auto;
  right: 0;
  bottom: 0;
}
#parallax .plan_4 {
  position: absolute;
  z-index: 70;
  width: 100%;
  height: 100vh;
}
#parallax .plan_4 .plan_4_img:nth-child(1) {
  width: auto;
  height: 100%;
  left: 0;
  bottom: 0;
}
#parallax .plan_4 .plan_4_img:nth-child(2) {
  width: auto;
  height: 100%;
  right: 0;
  bottom: 0;
}
#parallax .plan_5 {
  position: absolute;
  z-index: 60;
  width: 100%;
  height: 100vh;
}
#parallax .plan_5 .plan_5_img:nth-child(1) {
  left: 0;
  bottom: 0;
}
#parallax .plan_5 .plan_5_img:nth-child(2) {
  right: 0;
  bottom: 0;
}
#parallax * .plan_6 {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100vh;
}
#parallax * .plan_6 .plan_6_img {
  right: 0;
  top: 0;
}
#parallax .plan_7 {
  position: absolute;
  z-index: 40;
  width: 100%;
  height: 100vh;
}
#parallax .plan_7 .plan_7_img {
  width: 100%;
  height: auto;
  bottom: 0;
  opacity: 0.8;
}
#parallax .plan_8 {
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 100vh;
}
#parallax .plan_8 .plan_8_img {
  width: 100%;
  height: auto;
  bottom: 0;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
