body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0f1110;
}

/*---PLAN 1---*/
#parallax {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .plan_1_img:nth-child(1), .plan_1_img:nth-child(2), .plan_1_img:nth-child(3), 
    .plan_1_img:nth-child(4), .plan_1_img:nth-child(5), .plan_1_img:nth-child(6),
    .plan_1_img:nth-child(7), .plan_1_img:nth-child(8),
    .plan_2_img:nth-child(1), .plan_2_img:nth-child(2), .plan_2_img:nth-child(3), 
    .plan_2_img:nth-child(4), .plan_2_img:nth-child(5), .plan_2_img:nth-child(6), 
    .plan_2_img:nth-child(7), .plan_2_img:nth-child(8), .plan_2_img:nth-child(9), 
    .plan_3_img:nth-child(1), .plan_3_img:nth-child(2), 
    .plan_4_img:nth-child(1), .plan_4_img:nth-child(2), 
    .plan_5_img:nth-child(1), .plan_5_img:nth-child(2), 
    .plan_6_img, 
    .plan_7_img, 
    .plan_8_img {
        position: absolute;
    }
    /*---PLAN 1---*/
    h1 {
        position: absolute;
        z-index: 110;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(240, 239, 227);
        font-size: 8em;
        font-family: 'Neucha', cursive;
        font-weight: bold;
        letter-spacing: 40px;
        text-transform: uppercase;
        text-shadow: rgb(66, 65, 61) 1px 0 10px;;
    }
    .plan_1 {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100vh;
        .plan_1_img:nth-child(1) {
            width: 18%;
            top: 0;
            left: 0;
        }
        .plan_1_img:nth-child(2) {
            width: 80%;
            top: 0;
            right: 0;
        }
        .plan_1_img:nth-child(3) {
            width: 20%;
            height: auto;
            top: 30%;
            left: 0;
        }
        .plan_1_img:nth-child(4) {
            width: 20%;
            height: auto;
            right: 0;
            bottom: 30%;
        }
        .plan_1_img:nth-child(5) {
            width: 20%;
            height: auto;
            left: 0;
            bottom: 0;
        }
        .plan_1_img:nth-child(6) {
            width: 30%;
            height: auto;
            left: 25%;
            bottom: 0;
        }
        .plan_1_img:nth-child(7) {
            width: 20%;
            height: auto;
            right: 0;
            bottom: 0;
        }
        .plan_1_img:nth-child(8) {
            width: 20%;
            height: auto;
            right: 25%;
            bottom: 0;
        }
    }
    
    /*---PLAN 2---*/
    .plan_2 {
        position: absolute;
        z-index: 90;
        width: 100%;
        height: 100vh;
        .plan_2_img:nth-child(1) {
            width: 20%;
            top: 0;
            left: 0;
        }
        .plan_2_img:nth-child(2) {
            width: 20%;
            top: 0;
            left: 20%;
        }
        .plan_2_img:nth-child(3) {
            width: 20%;
            height: auto;
            top: 0;
            left: 40%;
        }
        .plan_2_img:nth-child(4) {
            width: 20%;
            height: auto;
            top: 0;
            left: 70%;
        }
        .plan_2_img:nth-child(5) {
            width: 20%;
            height: auto;
            left: -20px;
            bottom: 0;
        }
        .plan_2_img:nth-child(6) {
            width: 20%;
            height: auto;
            right: -20px;
            top: 20%;
        }
        .plan_2_img:nth-child(7) {
            width: 35%;
            height: auto;
            left: 0;
            bottom: 0;
        }
        .plan_2_img:nth-child(8) {
            width: 20%;
            height: auto;
            left: 40%;
            bottom: 0;
        }
        .plan_2_img:nth-child(9) {
            width: 30%;
            height: auto;
            right: 0;
            bottom: 0;
        }  
    }
    
    /*---PLAN 3---*/
    .plan_3 {
        position: absolute;
        z-index: 80;
        width: 100%;
        height: 100vh;
        .plan_3_img:nth-child(1) {
            width: 35%;
            height: auto;
            left: -20px;
            bottom: 0;
        }
        .plan_3_img:nth-child(2) {
            width: 35%;
            height: auto;
            right: -20px;
            bottom: 0;
        }
    }
    
    /*---PLAN 4---*/
    .plan_4 {
        position: absolute;
        z-index: 70;
        width: 100%;
        height: 100vh;
        .plan_4_img:nth-child(1) {
            width: auto;
            height: 105%;
            left: 0;
            bottom: -20px;
        }
        .plan_4_img:nth-child(2) {
            width: auto;
            height: 105%;
            right: 0;
            bottom: -20px;
        }
    }
    
    /*---PLAN 5---*/
    .plan_5 {
        position: absolute;
        z-index: 60;
        width: 100%;
        height: 100vh;
        .plan_5_img:nth-child(1) {
            left: 0;
            bottom: 0;
        }
        .plan_5_img:nth-child(2) {
            right: 0;
            bottom: 0;
        }
    }
    
    */*---PLAN 6---*/
    .plan_6 {
        position: absolute;
        z-index: 50;
        width: 100%;
        height: 100vh;
        .plan_6_img {
            right: 0;
            top: 0;
        }
    }
    
    /*---PLAN 7---*/
    .plan_7 {
        position: absolute;
        z-index: 40;
        width: 100%;
        height: 100vh;
        .plan_7_img {
            width: 100%;
            height: auto;
            bottom: 0;
            opacity: 0.8;
        }
    }
    
    /*---PLAN 8---*/
    .plan_8 {
        position: absolute;
        z-index: 30;
        width: 100%;
        height: 100vh;
        .plan_8_img {
            width: 100%;
            height:  auto;
            bottom: 0;
            opacity: 0.8;
        }
    }
}



